[2020-09-14 18:47] gaspardcereza opened #1 "Windows PyPI package is missing 'dcm2bids'"
This issue was originally posted [here](https://github.com/cbedetti/Dcm2Bids/issues/79#issue-624654282) by @kousu.

Currently, on Windows, if you do `pip install dcm2bids`, you end up with `C:\Users\$USER\AppData\Local\Programs\Python\Python38-32\Scripts\{dcm2bids,dcm2bids_scaffold,dcm2bids_helper,dcm2bids2.exe}`. Windows doesn't know about shebang lines, only about .exes, so only `dcm2bids2` runs

[2020-09-14 19:07] gaspardcereza opened #2 "`--participant`"
This issue was originally posted [here](https://github.com/cbedetti/Dcm2Bids/issues/82) by @kousu.

I find it strange that `--participant` is a mandatory argument when the DICOM format has both `PatientID` and `PatientName` fields available. As it stands, I need to manually determine that my .dcms are all from the same patient and isolate them from the others, and read off the name of the patient.

[2020-09-14 19:12] gaspardcereza opened #3 "Windows file paths"
This issue was originally posted [here](https://github.com/cbedetti/Dcm2Bids/issues/83) by @kousu.
`dcm2bids` crashes if given filepaths with backslashes in it. They get erased.

### Reproduction
On Windows, I installed from `master`

[code]

(I'm surprised `pip install -e .` worked, where `python setup.py install` didn't ?? #76)

Get this testing dataset:
[code]

Then try to run it:

[code]

[2020-09-15 19:17] arnaudbore commented on #2
Hi Gaspard,

dcm2bids is built over dcm2niix so it uses the json output to sort each acquisition and put it in the correct folder.
When running the default dcm2niix you end up with an anonymized json file where neither `PatientID` or `PatientName` are available. You can make them available, but you lose the anonymization. I already coded something like this, but was still struggling with the fact

[2020-09-15 19:17] jcohenadad opened #4 "Adding priority labels"
Given that this repository is for internal use/development (at least for now), we should probably create labels to set up priority on issues. E.g., #1 and #3 concerns Windows support, which we dropped a few weeks ago anyway, so these issues are "non-issues" for now.

[2020-09-30 13:34] arnaudbore opened #10 "Check if intendedFor value exists"
Need a way to check if intendedFor files exist.

[2020-10-01 18:54] SaharSaba opened #89 "py38 compatibility issue: No module named ‘dcm2bids.scaffold’"
Hi,
After the installation of dcm2bids, I see this error. could you please help me to solve this issue? Thanks

dcm2bids -d ‘/home/sahar/DICOM/img’ -p sub-teh -c ~/Desktop/config_spine.txt -o teh_spineGeneric
Traceback (most recent call last):
File “/home/sahar/.local/bin/dcm2bids”, line 5, in
from dcm2bids.dcm2bids import main
File “/home/sahar/.local/lib/python3.8/site-packages/dcm2bids/init.py”

[2020-10-01 19:01] SaharSaba commented on #89
Also, I followed the #76 issue, but it did not work well for me

[2020-10-02 17:53] jcohenadad commented on #89
@SaharSaba thank you for reporting this issue. dcm2bids is currently not tested on py38. Could you please try with py37 and let us know how it goes? If this is indeed a py38-specific problem, we will make sure to address it.

[2020-10-07 12:51] SaharSaba commented on #89
Yes, dcm2bids is not compatible with py3.8. I downgrade it to py3.7
Thanks.

[2020-10-07 13:15] jcohenadad commented on #89
i renamed the issue to be more explicit-- we will fix py38 compat (and py39 with has just been released 😅 )

[2020-10-07 13:25] SaharSaba commented on #89
Great. Thanks.

[2020-10-14 20:21] jcohenadad opened #90 "Fetch AcquisitionTime from dicom header and encode it in json sidecars"
### Context

Some applications (e.g. realtime shimming) require information about acquisition time of each volume, from EPI or GRE sequences.

Currently, multiple Dicom files corresponding to a single series are saved into a single NIfTI file (and, de facto, a single JSON file). The JSON file does have a field `AcquisitionTime`, however it only corresponds to the first volume. The information of t

[2020-10-14 20:56] neurolabusc commented on #90
dcm2niix considers acquisition time personal data. If you create a bids file without BIDS anyonymization (`dcm2niix -ba y -b y ~/Path/ToDICOMs`) the tag AcquisitionTime will report Acquisition Time (0008,0032) for the slice of the first (saved) volume in the series. The timing between volumes should match the TR, and the timing between slices is provided BIDS `SliceTiming` field. Just be aware tha

[2020-10-14 21:08] jcohenadad commented on #90
Thank you for your input @neurolabusc !  The reason I prefer to not rely on the first volume `AcquisitionTime` and TR to get the timing of subsequent volumes, is that for sequences such as the `gre` (ie non-EPI), the TR refers to the time between two RF excitations (which as you know is different from the "TR" of the EPI, which is the time between two volumes). So, in order to get the right timing

[2020-10-15 18:19] jcohenadad commented on #90
@neurolabusc would you be open to the idea of having `dcm2niix` output an optional file (CSV, JSON, etc.) that contains these `AcquisitionTime` per volume?

[2020-10-16 18:41] neurolabusc commented on #90
@effigies the BIDS specification defines [RepetitionTime](https://bids-specification.readthedocs.io/en/latest/04-modality-specific-files/01-magnetic-resonance-imaging-data.html) as `The time in seconds between the beginning of an acquisition of one volume and the beginning of acquisition of the volume following it .. and is derived from DICOM Tag 0018, 0080 and converted to seconds.` What gets pre

[2020-10-16 19:58] jcohenadad commented on #90
@neurolabusc this is awesome!!! 🎉   Thank you so much for the quick changes.

I was able to successfully reproduce your results (from [this commit)](https://github.com/rordenlab/dcm2niix/commit/73fa5d5414ede28e761f4ebe42ffe95f0b5aecee)

Yes, I am aware of the poor precision of the `AcquisitionTime` timestamp on the Dicom files. Your suggestion to average over all the volumes is smart, and I agree

[2020-10-16 20:11] effigies commented on #90
I don't really know the context of this edge case, but if I'm looking at a 4D series, the `pixdim[4]` should be the time between consecutive volumes, and `RepetitionTime` is considered to be identical to `pixdim[4]`.

For qMRI cases, [BEP-001](https://github.com/bids-standard/bids-specification/pull/508) is introducing `RepetitionTimeExcitation` and `RepetitionTimePreparation` metadata fields. Doe

[2020-10-16 20:28] jcohenadad commented on #90
@effigies indeed, for the dataset posted in https://github.com/UNFmontreal/Dcm2Bids/issues/90#issue-721753912, the `RepetitionTime` field currently populated by `dcm2niix` follows the definition of `RepetitionTimeExcitation` (and corresponds to (0018, 0080)).

So anticipating that BEP001 will be adopted soon, it might be wise to revert the recent changes in the development branch of `dcm2niix`, an

[2020-10-16 20:37] effigies commented on #90
That sounds reasonable to me. Along with BEP-001, we should modify the text of `RepetitionTime` (if they haven't already done) to ensure that (0018, 0080) is only used for appropriate sequences.

[2020-10-17 12:15] neurolabusc commented on #90
@jcohenadad this sounds reasonable. When the measured time between volumes differs dramatically from 0018, 0080, one would use the time between volumes for the BIDS tag 'RepetitionTime' and the value from 0018, 0080 as `RepetitionTimeExcitation`.

However, reading [BEP001](https://github.com/bids-standard/bep001/blob/repetitiontime/Proposal_RepetitionTime.md) it is unclear to me how a tool determi

[2020-10-18 01:53] jcohenadad commented on #90
I guess these BEP initiatives could (should) also serve as incentives for vendors to update what goes in their DICOMs. The "enhanced DICOM" is probably a step in that direction.  It should also be mentioned that while DICOMs are popular and convenient (for good reasons), vendor-agnostic formats such as [ISMRMRD](https://ismrmrd.github.io/) are also a means to get NIfTIs out. But this comment is pr

[2020-10-18 02:02] effigies commented on #90
@neurolabusc Can you comment on BEP001 with this concern? I think it's worth bringing up while the BEP is being finalized.

[2020-10-20 11:47] neurolabusc commented on #90
@jcohenadad The latest patch to the developmental branch will generate `RepetitionTimeExcitation`. I have created [dcm2niix issue 439](https://github.com/rordenlab/dcm2niix/issues/439) to describe this change.

As an aside, I am an advocate of vendor-agnostic formats. However, I think we also need to advocate for big data friendly formats. As scientists, we need to be very careful in creating and

[2020-10-20 15:20] jcohenadad commented on #90
@neurolabusc Thank you for making these changes, and for sharing this interesting perspective about the HDF5 format.

[2020-11-03 18:22] jcohenadad commented on #90
Closing as the change is now implemented in a [stable version of dcm2niix](https://github.com/rordenlab/dcm2niix/pull/444)

[2020-11-03 18:22] #90 closed, assigned to nobody

[2020-11-10 18:25] arnaudbore commented on #89
@SaharSaba I manage to make dcm2bids working with python 3.8.0 using: `pip install -e .` within dcm2bids folder.
Can you tell me if it works that way ?

[2020-11-18 00:28] kousu opened #92 "dcm2niix version pinning is in the wrong place"
https://github.com/UNFmontreal/Dcm2Bids/blob/892c51e6671a1ddf3513381d8ecf082d9b400862/dcm2bids/utils.py#L31

This should be handled by a package manager, not buried inside of `utils.py`. I think I understand what guided this: dcm2niix isn't a python app, so it can't be versioned with python mechanisms. I get that. But this isn't a good place to handle it!

In its place we should:
- put a note in t

[2020-11-18 01:12] arnaudbore commented on #92
dcm2niix is mandatory but any version will work great depending on your config file. We don't even use this variable. We just check if the user is not using the latest dcm2niix version. That's all.

[2020-11-18 18:53] arnaudbore opened #93 "when multiple run, intendedFor does not point to real files"

[2020-11-20 17:45] kousu opened #96 "Drop `future`"
Python2 has been done for 10 months now. We can drop `future` and replace all its uses with python3 code.

[2020-11-23 18:51] kousu opened #97 "Change URLs to UNFmontreal"
These all need to get updated:

[code]

I guess this requires also updating the codecov.io account too?

[2020-11-23 18:57] arnaudbore commented on #97
It seems you're still looking at an old version of the repos.

[2020-11-23 18:57] #97 closed, assigned to nobody

[2020-11-23 19:25] kousu opened #98 "'import' not 'move'?"
https://github.com/UNFmontreal/Dcm2Bids/blob/14ff8b1443010ab88ca32645c38cdc71c42499db/dcm2bids/dcm2bids.py#L145

has a bunch of cases, all of which essentially do

https://github.com/UNFmontreal/Dcm2Bids/blob/14ff8b1443010ab88ca32645c38cdc71c42499db/dcm2bids/dcm2bids.py#L189

I think this is somewhat bug-prone. This is meant to operate on the `tmp_dcm2bids/` folder but if it's accidentally pointed

[2020-11-23 19:36] kousu commented on #98
I see in the docs that this was probably motivated by wanting to leave the unmatched files available for inspection. That could be handled in this paradigm too: just copy the unmatched files to an "unmatched" folder.

[2020-11-23 19:43] bwagnerwork commented on #98
Why would one want to keep intermediate files and/or create more duplication?  Also, if moved to an "unmatched" what happens on a rerun, for example after updating a rule for a new variation.

[2020-11-23 20:04] kousu commented on #98
Yeah, it's exactly because I'm thinking about re-runs! A BIDS dir made out of mixtures of runs of dcm2bids is a buggy BIDS dir because stateful programming is extremely fragile. Each run should insist on being given a fresh directory to work in. In fact, maybe it should generate its own fresh directory.

Personally, I wouldn't even preserve the intermediate files. I would skip generating `tmp_dcm2

[2020-11-23 20:23] arnaudbore commented on #98
Maybe not a good habit but I've been using the `tmp_dmc2bids` and the ability to re-run dcm2bids a lot.
I work a lot with multi-sites projects where simple modalities are easy to catch across vendors. So I run dcm2bids with a single config file to catch T1s for example, and then I would use a per vendor config files to catch everything else without having to convert again dcm->niix.

[2020-11-23 20:37] bwagnerwork commented on #98
I misunderstood.  Thought you wanted to keep tmp_dcm2bids and do an unmatched.  I think my preference would be to leave tmp_dcm2bids. Or an option to select between tmp_dcm2bids or an unmatched directory.

[2020-11-24 03:26] kousu opened #99 "Overlapping criteria"
It's possible for the sets of sidecars covered by each criteria to overlap, for example `"SidecarFilename": "*MPRAGE*"` and `"Modality": "M*"` intersect on [the example anat-scan](https://github.com/UNFmontreal/Dcm2Bids/blob/81de8ad803c4c56614a43c64b86afca418056a68/tests/data/sidecars/003_MPRAGE_20100603125600.json), but dcm2bids makes a single choice for the result of each (related: #98).

I susp

[2020-11-24 04:57] kousu opened #100 "tmp_dcm2bids/"
`dcm2bids` assumes your target directory contains `tmp_dcm2bids/$subject/`. If it doesn't exist it crashes:

[code]

This is really confusing to me. It's not a parameter in the API:

https://github.com/UNFmontreal/Dcm2Bids/blob/14ff8b1443010ab88ca32645c38cdc71c42499db/dcm2bids/dcm2bids.py#L23-L32

It's only mentioned in passing in the docs, but [not](https://github.com/UNFmontreal/Dcm2Bids/blob/14

[2020-11-24 05:33] kousu commented on #100
Actually I had this backwards! No wonder I was confused.

It turns out that `tmp_dcm2bids/` is in fact where the data is read from. Consider:

From [current `master`](https://github.com/UNFmontreal/Dcm2Bids/tree/14ff8b1443010ab88ca32645c38cdc71c42499db):

[code]

[code]

I see this folder structure, as expected:

[code]

but if I skip copying the metadata to `tmp_dcm2bids/`:

[code]

then I get no

[2020-11-24 06:18] kousu commented on #98
Oh I see. You want to be able to run multiple operations on the same or multiple source datasets to produce a single final dataset. This makes total sense! So scratch what I said about insisting on an empty target directory. That was wrong!

Some of my confusion I want to offload onto sub-issue #100. `tmp_dcm2bids/` confuses me but we can talk about that over there. Here, I still think the idea of

[2020-11-24 07:06] kousu opened #101 "Comparison to other filter apps"
After thinking through #68, I've realized that dcm2bids is essentially a small filter with a custom query language. It's _a lot_ like `sed` or `awk`, except it operates over MRI images instead of streams of text. A "config" is better thought of as a small program -- the same way `sed` and `awk` take small programs to process their input. Indeed, [sidecar.py](https://github.com/UNFmontreal/Dcm2Bids

[2020-11-24 07:17] kousu commented on #101
Personally, I don't really think json is a great format for expressing programs in. But given that the core of dcm2bids is about processing .json sidecar files, there is probably a lot to be learned from the [`jq`](https://stedolan.github.io/jq/) and [jsonpath](https://jsonpath.com/) languages. `jq` started as a query language for json but quickly grew lots of kinds of operators (and loops for som

[2020-11-24 07:22] kousu commented on #93
Is this a symptom of the bug I pointed out in https://github.com/UNFmontreal/Dcm2Bids/issues/98#issuecomment-732679109 ?

[2020-11-24 07:46] kousu commented on #101
I actually wonder if we could use `jq` or `jsonpath` directly as the query language.

For an example of how they can be integrated, check out how k8s does it: https://kubernetes.io/docs/reference/kubectl/jsonpath/

[code]

I also think `awk`'s syntax is enlightening. I was enlightened by this blog post: https://tomayko.com/blog/2011/awkward-ruby. In `awk`, the basic data structure is a "record" co

[2020-11-24 14:37] arnaudbore commented on #99
I'm not sure I follow you on this one. For each criteria you end up with True or False and then to be renamed all criteria have to be True. There is no intersect.

[2020-11-24 15:07] arnaudbore commented on #100
1. dcm2bids was never meant to be a universal converter (only purpose take dicom folder and build bids structure).
2. When dcm2bids find a previous run of dcm2niix into tmp_dcm2bids/sub-ID it does not run dcm2niix (does not create new nii images or json file). There is a way to force dcm2niix to be run and I think it should stay that way.
3. Even if agree that this behavior should be more document

[2020-11-24 15:29] arnaudbore commented on #101
From my point of view, I don't think about re-writing the way dcm2bids works.
Remember we want to keep dcm2bids compact and easy to use and so far the config file has proven to be efficient.
I'm surely not thinking about all the little corners of what the coming features will uncover but I will make sure dcm2bids stay compact even if it means to not be able to expand dcm2bids.

[2020-11-24 16:49] kousu commented on #101
Have no fear, I'm not suggesting diving into a rewrite. I'm just suggesting a framework about how to think about what dcm2bids does. I propose that we stop calling config files config files and start calling them "sorting scripts", and that as features get added to them we think about them in that light. dcm2bids is a small programming language, and that's a useful insight to have about it. I do t

[2020-12-03 17:05] arnaudbore opened #102 "searchMethod re - new considerations"
The `re` case uses `re.search`, which is the same as `re.match(name, ".* + pattern + ".*")`, i.e. it's an `in` not an `==` kind of comparison by default; the `fnmatch` case is inconsistent because it's an `==` kind of case by default, and needs you to wrap crtieria like `"*criteria*"` to get the `in` behaviour.

I think the `==` behaviour is better, so I would change `re.search` to `re.match` and

[2020-12-14 06:11] kousu commented on #102
(could you edit this to remove the "slightly off-topic" part from my original comment? that was just about it being off-topic within that PR)

[2020-12-14 06:54] kousu opened #103 "`fnmatch` is case-insensitive on Windows"
`fnmatch` is case-insensitive on Windows. This is definitely going to trip people up, especially in light of #68: if they try to set caseSensitive: true and find it not respected they'll be very confused.

There's https://docs.python.org/3.8/library/fnmatch.html#fnmatch.fnmatchcase to provide a more consistent result, so a fix  would be using `fnmatchcase(name.lower(), pattern.lower())` instead of

[2020-12-14 15:59] bwagnerwork commented on #101
I'm for a bit more flexibility in the config files/sorting scripts, but only if it could be done with minimal additional imports of non-standard Python base libraries.  More of preference towards none. If a complete change to the querying method is done I would hope it leans towards a language that isn't esoteric or flavor or the month.  It should also be performant.  My config files generally hav

[2020-12-14 16:02] bwagnerwork opened #104 "filter on nifti attributes"
It would be helpful to be able to query against nifti attributes.  For example dimensions of the data volume which aren't usually attainable from typical sidecar.  I have a functioning version at https://github.com/bwagnerwork/Dcm2Bids/commit/67391c8153534c3fe8ca7624090507a3907418a0 which could be made into a pull request if there is an interest.

[2020-12-16 20:26] jcohenadad opened #105 "Add citation section"
This software need a "citation" section so that people know how to cite it

[2020-12-23 16:25] Michael-Monaldi opened #106 "IntendedFor JSON field suffix always ".nii.gz""
Great fix for "add session in the path if using session #52"

If specifying dcm2niixoptions in the CONFIG file "-z n",
output files are not gzipped and are just NIFTIs.

However, the "IntendedFor" field still shows
"ses-*/func/sub-*_ses-*_task-*_***.nii.gz"

where it should instead show
"ses-*/func/sub-*_ses-*_task-*_***.nii"

Hope I explained this well enough. Should be a quick fix with a conditi

[2020-12-23 19:53] arnaudbore commented on #106
Dear @Michael-Monaldi,

Thank you for raising this issue. Actually I'm about to create a new PR that will fix a couple of issues regarding the intendedFor field.
I will link this issue to the new PR so you can follow up with this.

Arnaud

[2020-12-28 16:57] Michael-Monaldi commented on #106
Thank you! Excited to test it out!

[2021-01-04 20:58] #100 closed, assigned to nobody

[2021-01-05 19:46] arnaudbore commented on #106
@Michael-Monaldi if you want to give it a try and give me some updates if it fixes your issue.
There is still some work to do about the tests (they fail because of the way they were designed).

[2021-01-11 20:08] arnaudbore opened #108 "dcm2bids: 2021 Initiative"
Dear dcm2bids contributors,

First of all, Happy New Year! I wish all of you the best for the coming year!

As some of you may already know, at the end of 2020, Christophe Bedetti transferred the ownership of the dcm2bids repo to UNF Montreal, which is an academic platform dedicated to  neuroimaging research located in Montreal, Canada. Obviously, Christophe will keep being one of the main develop

[2021-01-14 14:59] arnaudbore commented on #89
@SaharSaba dcm2bids is now compatible with python3.8 and python3.9 using `pip install  dcm2bids`

If you are interested, you can also join us to our [2021 initiative](https://github.com/UNFmontreal/Dcm2Bids/issues/108)

[2021-01-14 14:59] #89 closed, assigned to nobody

[2021-01-25 13:34] ArnaudC opened #110 "dcm2bids_scaffold: FileNotFoundError: dcm2bids/scaffold/dataset_description.json"
Hello,

The steps to reproduce :

[code]

[code]

[code]

As you can see, there is no file called dataset_description.json.
This was working last month.

Thanks

[2021-01-25 21:04] SamGuay commented on #110
I confirm I am getting the same error on a fresh installation of dcm2bids with python 3.8 on Ubuntu 20.04.

[2021-01-29 12:45] marleenhaupt commented on #110
I can also confirm that I get the same error on a fresh installation of dcm2bids with python 3.9.1 on macOS Big Sur version 11.1.

[2021-02-01 16:50] kousu commented on #110
### Debugging

Indeed, this file doesn't appear anywhere in the package:

[code]

It's not even in the src package:

[code]

### The fix

This is a common issue with python packaging. So common so I would almost call it a bug in pip/setuptools. Until there's a better  default every python programmer needs to know about [`package_data`](https://setuptools.readthedocs.io/en/latest/userguide/datafile

[2021-02-01 16:54] kousu commented on #110
Oh wait actually maybe [`importlib.resources.path()`](https://docs.python.org/3/library/importlib.html#importlib.resources.path) is the currently blessed way?

[2021-02-01 17:55] kousu opened #112 "Drop py35"
In https://github.com/UNFmontreal/Dcm2Bids/pull/111/checks?check_run_id=1808751063

Py35 failed the build. Weird. Have no PRs gone in since September? I was sure I did something in like..November? Maybe tox only recently hard-deprecated it?

~~Blocks #110.~~

[2021-02-01 18:03] kousu opened #114 "Use a src/ layout"
Repeating the advice I found for https://github.com/neuropoly/spinalcordtoolbox/issues/3161:

You should do `git mv dcm2bids src/dcm2bids`, and fix up all things that breaks. *Not* doing this means any code run from the root of the directory (which is..most dev code) will use the *uninstalled* version, and that *will not always be correct*, particularly when trying to use relative imports or packa

[2021-02-01 19:11] kousu commented on #112
Oh weird, my test passed on 3.5 this time: https://github.com/UNFmontreal/Dcm2Bids/pull/111/checks?check_run_id=1809166398

You should still think about dropping 3.5, but it looks like it's not actually blocking #110 afterall. The problem was I didn't have [`importlib.resources`'s backport](https://pypi.org/project/importlib_resources/) installed.

[2021-02-02 19:45] #112 closed, assigned to nobody

[2021-02-03 21:46] Michael-Monaldi commented on #106
Will test this within the next few days

[2021-02-10 21:08] pn2200 opened #115 "Cannot build singularity image based on current recipe"
I am trying to build a singularity image based on the current recipe in the file `Singularity`. It fails when trying to install `bids-validator` with error:
[code]
The entire log is attached, but I think the issue is simply that the recipe is trying to install the latest version of `bids-validator`, which it cannot do with the old versions of `node.js` and `npm` that are available for this image.

[2021-02-15 19:23] #110 closed, assigned to nobody

[2021-02-16 14:20] arnaudbore commented on #115
Latest version fix this issue

[2021-02-16 14:20] #115 closed, assigned to nobody

[2021-02-16 19:11] SamGuay commented on #110
Thanks for reporting the issue @ArnaudC and @marleenhaupt. This is simply to let you know that the bug was fixed, thanks to @kousu and @arnaudbore :).

[2021-02-17 16:24] arnaudbore opened #119 "conda package"
I think it would be a great thing to have dcm2bids available as a conda forge package.
I need some help on this @SamGuay  ?

[2021-02-17 20:00] SamGuay opened #120 "[ENH] - Documentation enhancement"
I like the new layout!

Here's a bunch of things I've noticed while browsing through it. Sorry for the long issue; I can split it into many issues if needed.

### Accessibility / layout wise:
You can see the accessibility report [here](https://wave.webaim.org/report#/https://unfmontreal.github.io/Dcm2Bids/) with errors and provided solutions. Some of the errors should be easy to fix:
- [x] Contras

[2021-02-17 23:37] SamGuay commented on #119
Should I list someone else other than me as maintainer(s) for this conda recipe?

You can see the recipe [here](https://github.com/SamGuay/staged-recipes/blob/dcm2bids/recipes/dcm2bids/meta.yaml).

Edit: I submitted, but anyone who wants to _help_ is welcome, just ping me on this issue! :)

[2021-02-18 18:56] morteza commented on #120
Since there is an ongoing task to develop a conda recipe, I'm not sure this is still relevant.

But installation instruction as explained in the [docs/2-tutorial.md](https://github.com/UNFmontreal/Dcm2Bids/blob/master/docs/2-tutorial.md) can be simplified. Conda interoperability with pip can install all the dependencies in one step; see the `pip:` blow:

[code]

It doesn't need another pip install

[2021-02-19 21:01] SamGuay commented on #119
Everything seems to be working! Here are the main badges if needed.

[![Anaconda-Server Badge](https://anaconda.org/conda-forge/dcm2bids/badges/version.svg)](https://anaconda.org/conda-forge/dcm2bids)
[![Anaconda-Server Badge](https://anaconda.org/conda-forge/dcm2bids/badges/latest_release_date.svg)](https://anaconda.org/conda-forge/dcm2bids)
[![Anaconda-Server Badge](https://anaconda.org/conda-fo

[2021-02-19 21:01] #119 closed, assigned to SamGuay

[2021-02-19 21:58] SamGuay opened #121 "Update Zenodo to match released code"
If we follow the DOI, we see that the latest version hasn't been archived on Zenodo. It's either because
1. It used to be done manually and hasn't been done lately OR
1. The [automated archiving process](https://guides.github.com/activities/citable-code/) doesn't work anymore... Which was properly broken by having moved the repo to @UNFmontreal/dcm2bids _recently_.

In either case, I think it shou

[2021-02-22 14:55] cbedetti commented on #121
It was indeed the change of repo.
I needed to turn a switch on and off on the zenodo account.
It should be automatic for the next releases.

[2021-02-22 21:15] SamGuay commented on #120
Thanks @morteza for the pointer! For now, in #122 I changed the instruction for a pure install with conda since dcm2bids is now on conda-forge (#119).

However, I think in the long-term, we should also offer instruction for a pip only install, but that is for another issue.

 Bonus: I didn't know we could do such a thing, so here's a personal thank you!

[2021-02-25 14:52] SamGuay commented on #121
Great, thanks! Will reopen this issue if it doesn't update when the next version is released.

[2021-02-25 14:52] #121 closed, assigned to nobody

[2021-02-27 13:59] arnaudbore opened #125 "Make dockerhub push automatic"

[2021-03-02 16:48] 1-w opened #126 "none-string value for 'name' param in compare function throws error"
using "searchMethod" :  "re"

E.g. "EchoTime": 0.00492 in sidecar leads to following error thrown in re.search

...
  File "xyz/Dcm2Bids/dcm2bids/sidecar.py", line 179, in compare
    return bool(re.search(pattern, name))
  File "xyz/lib/python3.8/re.py", line 199, in search
    return _compile(pattern, flags).search(string)
TypeError: expected string or bytes-like object
...

[2021-03-03 21:24] SamGuay commented on #125
Docker Hub will automatically rebuild the `latest` image on every push to the `master` branch.

It is to be verified, but Docker Hub is also supposed to build and tag new containers with the version when there is a new release. (To be verified at the next release).

[2021-03-03 21:24] #125 closed, assigned to arnaudbore

[2021-03-04 03:49] SamGuay commented on #120
- [x] Clarify installation section. As of now, `pip install dcm2bids` shouldn't appear since if we follow the doc, it would install dcm2bids twice - with conda and pip.

[2021-03-19 16:14] dpagliaccio opened #129 "possible to label with files run-01 if only instance?"
Hello
Is it possible to have dcm2bids label files with run notation even if there is only one of that type. Particularly, this has been an issue if some participants' data have two task runs (auto labelled as run-01 and run-02) but only one task run is collected for another participant, we would like it to have the run-01 label for consistency.
Thanks!

[2021-03-22 04:30] Lestropie commented on #126
Am encountering the same error, but for the field "`EchoNumber`", which we must parse for multi-echo GRE SWI and SE T2 sequence data. Eager to see the fix in #127 pushed out in a version update. :+1:

[2021-04-01 10:00] munoztd0 opened #130 "Dcm2bids tutorial pages is "off""
Hello,

I don't know if you noticed but your https://unfmontreal.github.io/Dcm2Bids/2-tutorial pages are messed up.

Best,

David

[2021-04-01 10:53] SamGuay commented on #130
Hi @munoztd0,

Thanks for letting us know! Indeed, the link you shared is definitely not working! May I know where you got this link from so I can fix this?

The page for the tutorial is https://unfmontreal.github.io/Dcm2Bids/docs/2-tutorial/ so I think we forgot the `docs` wherever you found the link.

Thanks,

[2021-04-01 13:26] munoztd0 commented on #130
It comes from the readme file.

[2021-04-01 20:09] #130 closed, assigned to nobody

[2021-04-01 20:10] SamGuay commented on #130
Oh wow, thanks for having caught this, it is not fixed!

[2021-04-06 19:45] dlevitas commented on #129
Hi @dpagliaccio ,

Would something like this not work in the configuration file?
[code]

Where you can set the run identifier using the `customLabels` field.

I'll also point you to this [Neurostars thread](https://neurostars.org/t/fmriprep-dropping-0-in-run-number-v20-2-0-v20-1-0/18223/3), where you may want to consider not zero-padding your run numbers. This is particularly true if you plan on p

[2021-04-07 05:41] jewellewej opened #132 "FALSE run?"
After I execute `dcm2bids -d ./RAW_Data -p 01  -c ./BIDS_config.json -o ./test --forceDcm2niix --clobber` in the command line, the results of each modality (anat, func) including 2 runs, json doc showed two different acquisition times. However, when I perform this in a python script `os.system(' '.join(['dcm2bids', '-d', source_dir, '-p', subject, '-c', con_doc, '-o',output_dir, '--forceDcm2niix -

[2021-04-15 21:31] AlexHTreacher opened #133 "Additional options for "searchMethod""
Hi All,

I'm running Dcm2Bids for some large public databases. When running Dcm2Bids, I'm using the "re" searchMethod to maximize flexibility. However, I'm currently running into issues with overlapping series descriptions. A very simple example: 'T2*' vs 'T2' vs 'T2Star' vs 'T2PD' vs 'T2FLAIR' vs 'T2_FLAIR' etc....
I don't pretend to be a regular expressions wizard, but I've ended up with crazy e

[2021-07-28 02:25] Kang1448 opened #135 "Do you know why dcm2bids is not working on my computer?"
Please see the following:

MacdeMacBook-Pro:build mac$ dcm2bids -d $HOME/learning/sub-08 -p 01 -c $HOME/learning/config3.json -o $HOME/learning --forceDcm2niix
Traceback (most recent call last):
  File "/Users/mac/Library/Python/3.8/bin/dcm2bids", line 8, in <module>
    sys.exit(main())
  File "/Users/mac/Library/Python/3.8/lib/python/site-packages/dcm2bids/dcm2bids.py", line 290, in main
    app

[2021-07-28 02:45] SamGuay commented on #135
Hi @Kang1448 !

I suspect it is related to your config file (`config3.json`), is it available on Github or can you attach it here?

In the last line you pasted, we can see that there is something missing at line 83, column 7 since the error message is telling you that it is expecting a value, but there is probably none or a character which makes dcm2bids think there should be a value right after i

[2021-07-28 09:21] Kang1448 commented on #135
INFO:dcm2bids.sidecar:No Pairing  <-  010_sub-08_IBL_fMRI_MB8_20210602121510
INFO:dcm2bids.sidecar:No Pairing  <-  011_sub-08_IBL_fMRI_MB8_20210602121510
INFO:dcm2bids.sidecar:No Pairing  <-  100_sub-08_MPRAGE_ADNI_P2_20210602121510
INFO:dcm2bids.sidecar:No Pairing  <-  100_sub-08_MPRAGE_ADNI_P2_20210602121510a
INFO:dcm2bids.sidecar:No Pairing  <-  101_sub-08_MPRAGE_ADNI_P2_20210602121510
INFO:dcm

[2021-07-28 09:22] Kang1448 commented on #135
I am encountering a new problem. Here is the Json file I have: https://drive.google.com/file/d/1HIAJF-0a7rLGqgI4vOagiP-9N6ETYbQD/view?usp=sharing

[2021-07-28 12:47] SamGuay commented on #135
Glad you caught the first error.

The second error is hinted at again in the latest lines. In short, it complains regarding the 'IntendedFor' field in your config file. You have specified `2, 4, 8` but the number you put in this field should match the indexing in this particular config file. In case you didn't know, it starts from 0, so the first _item_ is the one you specified `"SidecarFilename":

[2021-07-28 22:00] Kang1448 commented on #135
Hello,
I modified the code but it still returns me the errors:
{
   "descriptions": [
      {
         "dataType": "anat",
         "modalityLabel": "T1w",
         "criteria": {
            "SidecarFilename": "000*"
         }
      },
      {
         "dataType": "func",
         "modalityLabel": "sbref_0010",
         "customLabels": "task-SST_run-01",
         "criteria": {
            "Sideca

[2021-07-28 22:00] Kang1448 commented on #135
Hello,
I modified the code but it still returns me the errors:
{
   "descriptions": [
      {
         "dataType": "anat",
         "modalityLabel": "T1w",
         "criteria": {
            "SidecarFilename": "000*"
         }
      },
      {
         "dataType": "func",
         "modalityLabel": "sbref_0010",
         "customLabels": "task-SST_run-01",
         "criteria": {
            "Sideca

[2021-07-28 22:28] SamGuay commented on #135
In your config file, I see that you still have 2, 4, and 8, but 8 is nowhere to be found. Which files are you targeting with fmap?
[code]

Thanks

[2021-07-28 22:55] Kang1448 commented on #135
Hmmm, I deleted "8", it worked but seems the output only contains fmap and functional, functional seems incorrect as it should output two files as there are two distinct tasks.

![IMG_5587](https://user-images.githubusercontent.com/67905967/127406198-4122fade-12ca-461a-b66e-50625150e35d.JPG)
![IMG_5585](https://user-images.githubusercontent.com/67905967/127406494-991463da-0d06-48f2-aee2-64e0708578

[2021-07-30 12:08] 1-w opened #136 "file name containing custom labels is not necessarily bids conform"
E.g. the returned filename sub-01_\<custom label>\_\<modality>.json/.nii.gz is not BIDS conform.
It should produce sub-01\_**acq-**\<custom label>\_\<modality>.json/.nii.gz instead.

After looking at the customLabels examples I see the customLabels string needs to be BIDS conform already. Perhaps an enhancement would be to make customLabels an object with {<entity>: <label>} syntax for better usab

[2021-07-30 23:59] Kang1448 commented on #135
Hi,
I modified the code, but it says my list is out of range, can you perhaps help me check again? Thanks!

   "descriptions": [
      {
         "dataType": "anat",
         "modalityLabel": "T1w",
         "criteria": {
            "SidecarFilename": "002*"
         }
      },
      {
         "dataType": "func",
         "modalityLabel": "sbref_0010",
         "customLabels": "task-SST_run-01",

[2021-08-03 00:36] Kang1448 opened #137 "List is out of range, do you know why?"
{
   "descriptions": [
      {
         "dataType": "anat",
         "modalityLabel": "T1w",
         "criteria": {
            "SidecarFilename": "002*"
         }
      },
      {
         "dataType": "func",
         "modalityLabel": "sbref_0010",
         "customLabels": "task-SST_run-01",
         "criteria": {
            "SidecarFilename": "004*"
         },
         "sidecarChanges": {

[2021-08-03 00:49] SamGuay commented on #137
Hi @Kang1448, I will close this issue and follow up with you on the other one you opened last week (#135).

[2021-08-03 00:49] #137 closed, assigned to nobody

[2021-08-03 00:51] Kang1448 commented on #135
This is the newest code I have, it says list is out of range:
{
"descriptions": [
{
"dataType": "anat",
"modalityLabel": "T1w",
"criteria": {
"SidecarFilename": "002*"
}
},
{
"dataType": "func",
"modalityLabel": "sbref_0010",
"customLabels": "task-SST_run-01",
"criteria": {
"SidecarFilename": "004*"
},
"sidecarChanges": {
"TaskName": "SST"
}
},
{
"dataType": "func",
"modalityLabel": "bold",
"custo

[2021-08-03 01:27] SamGuay commented on #135
Glad to see you're are making some progress!

So here's a couple of questions and thoughts first:
1. Did you follow the [tutorial](https://unfmontreal.github.io/Dcm2Bids/docs/2-tutorial/)? You can do the steps with your own data to help construct your config file.
2. Did you run `dcm2bids_helper -d $HOME/learning/sub-08` to produce a converted set of niftii files with their sidecars?
  * Doing so

[2021-08-06 13:34] SamGuay commented on #135
how is it going so far @Kang1448 ?

In case it can help you, here's a working example of a real config file a collaborator of mine used in the past:

[code]

[2021-08-09 13:56] aketchum15 opened #138 "IntendedFor references fields that do not exist on dataset with multiple runs"
as mentioned in [this ](https://github.com/UNFmontreal/Dcm2Bids/issues/93#issue-745920495)issue using the intendedFor field does not result in references to real files in the final sidecars.
when running on a dataset with multiple runs the intendedfor parsing will result in list of file names that do not include any run tags. For example I have 2 different functional datatypes each with 2 runs. Th

[2021-08-15 05:16] Kang1448 commented on #135
Hello,
May I know what the source of my error is?
File Path: Quick validation failed - the general folder structure does not resemble a BIDS dataset. Have you chosen the right folder (with “sub-*/” subfolders)? Check for structural/naming issues and presence of at least one subject.

Type:		Error
File:		sub-01
Reason:		Quick validation failed - the general folder structure does not resemble a BIDS

[2021-09-10 20:02] alexfoias opened #139 "Error non-zero exit status 2"
Hi,

I have tried to run dcm2bids for a dataset, but I got some errors.

Here is my output:

<Details>

[code]

</Details>

Here is my config for dcm2bids and dcm2niix:

<Details>

[code]

</Details>

I use the config file from spine-generic: https://github.com/spine-generic/spine-generic/blob/master/config_spine.txt

Thanks for your help.

[2021-09-13 20:13] alexfoias commented on #139
I have even tried on Ubuntu 20.04.3 LTS. The problem seems to persist.

<Details>

[code]

</Details>

[2021-09-13 20:16] arnaudbore commented on #139
You've got an issue with the dcm2niix conversion. Try to run dcm2niix you should see an error coming from the converter.

[2021-09-13 20:23] alexfoias commented on #139
Hi @arnaudbore ,

Yes, indeed there seems to be a problem with the converter:

[code]

I think is linked to this https://neurostars.org/t/unsupported-transfer-syntex-when-using-dcm2niix/6089/6

How should I configure `dcm2bids` to work ? I used https://unfmontreal.github.io/Dcm2Bids/docs/2-tutorial/#setup for setting up the env.

[2021-09-13 20:34] arnaudbore commented on #139
dcm2niix installation is missing from this tutorial. The version you have seems to be broken or at least does not work. Please follow neurostars advices to install dcm2niix correctly.

[2021-09-13 20:36] alexfoias commented on #139
okay, I have installed the proper dcm2niix necessary for the platform. Now everything seems to work.

Maybe an output saying check the dependencies may help users in the future.

We can close the issue.

[2021-09-13 20:37] #139 closed, assigned to nobody

[2021-10-06 04:09] Lestropie commented on #138
Bumping as my lab has encountered the same issue in our data.

[2021-10-13 13:41] aftmnelbier11 opened #140 "Issue with dcm2bids_helper: No such file or directory: 'dcm2niix'"
I am using Ubuntu 20.4. I have dicom files in the sourcedata folder. My directory is set to the sourcedata folder. The path is as such `sourcedata > P04 > task1/task2/fieldmaps > dicom files` I am running `dcm2bids_helper -d P04/`.

I continue to get this error:
Traceback (most recent call last):
  File "/usr/local/bin/dcm2bids_helper", line 8, in <module>
    sys.exit(main())
  File "/home/nevia-

[2021-10-13 13:55] arnaudbore commented on #140
Please make sure dcm2niix is installed on your computer. You can get it using this link [dcm2niix](https://github.com/rordenlab/dcm2niix/releases/download/v1.0.20211006/dcm2niix_lnx.zip).

[2021-10-15 11:15] bgunasekera opened #141 "Tutorial nii.s being overwritten?"
I have downloaded the sample data and I am following the tutorial

https://unfmontreal.github.io/Dcm2Bids/docs/2-tutorial/
https://github.com/neurolabusc/dcm_qa_nih

Section 2: DICOM to NIfTI conversion gives this command:
dcm2bids_helper -d sourcedata/dcm_qa_nih-master/In/
(Note, of course I removed the'-master' given that it's not in the sample data name)

This command will convert the DICOMs fi

[2021-10-31 09:01] Remi-Gau opened #142 "Tutorials need update"
Trying to run the tutorial as is does not give the desired output.

https://unfmontreal.github.io/Dcm2Bids/docs/2-tutorial/#dicom-to-nifti-conversion

I do not get the following files mentioned in the tutorial:

-  004_In_Axial_EPI-FMRI_(Interleaved_I_to_S)_20180918114023.nii.gz
-  004_In_EPI_PE=PA_20180918121230.nii.gz
-  003_In_EPI_PE=AP_20180918121230.nii.gz

The `SeriesDescription` in the json

[2021-11-02 01:10] richardbeare opened #143 "Query - matching based on series number rank"
Hi,
A question whether the following is possible. I have data which includes two functional tasks, and the parameters are identical apart from series number. I know I can match series number, but this is likely to be unreliable in the future, for example if one of the preceding scans is rerun. Is it possible to assign a different customLabel, for example, to the first match of a criteria and secon

[2021-11-23 03:03] Lestropie opened #144 "Appending run entity violates ordering"
The [MRI entity table](https://bids-specification.readthedocs.io/en/latest/99-appendices/04-entity-table.html#magnetic-resonance-imaging) in the BIDS specification dictates the ordering of key-value pairs in BIDS-compliant file names. Of particular interest is the fact that `_run-#` appears before `_echo-#`.

Where there are multiple input series that match an entry in the config file, `dcm2bids`

[2021-11-23 09:48] joeyv727 opened #145 "Pairing issue"
Dear all,

Unfortunately I have a problem with Dcm2Bids. I managed to install it in a conda environment and converted files to nifti with the dcm2bids_helper command. Though, when running dcm2bids, I encounter the following error:

INFO:dcm2bids.sidecar:No Pairing  <-  101_ses-mri01_SmartBrain_20200101112716
INFO:dcm2bids.sidecar:No Pairing  <-  102_ses-mri01_MPR_-_SmartBrain_20200101112716_i00001

[2021-11-24 08:42] joeyv727 commented on #145
We resolved the issue. There was an issue in the config file. The seriesdescription did not match sidecar files that our MRI scanner produces. The reader should know this can differ, and that the template config file does not always fit the sidecar files.

[2021-11-24 08:42] #145 closed, assigned to nobody

[2021-11-24 20:53] andrew-yian-sun opened #146 "dcm2bids_helper issue in tutorial"
I am going through the dcm2bids tutorial. Everything is going smoothly until the "Dicom to Nifti Conversion" section.
I run the follow code as shown: `dcm2bids_helper -d sourcedata/dcm_qa_nih-master/In/`, but I receive an "Output folder invalid" error message. The `tmp_dcm2bids/helper` directory is created but no nifti files are present.

Below is the code I ran, along with the full error message:

[2021-12-02 23:14] walkerped commented on #138
I'm also having issues with this. dcm2bids automatically adds the run tag if it finds that there are two runs for the same subject-session-task, but only adds a single entry to the intendedFor field, with no run label.  Similarly, if a task is missing for a given subject-session dcm2bids is still adding an entry to the intendedFor field for the task to the fieldmap, resulting in the subject failin

[2021-12-13 16:48] YukunQu opened #147 "dcm2bids fail to convert field mapping file"
dcm2bids fail to convert field mapping file.
My field mapping file have e1,e2,e2_ph,. e2 and e2_ph only have different sidecar difference int his item —— ImageType;
e2 :"ImageType": ["ORIGINAL", "PRIMARY", "M", "ND"],
e2_ph ImageType": ["ORIGINAL", "PRIMARY", "P", "ND", "PHASE"],
but the dcm2bids can not recognize the sidecar difference between "ImageType".

It is very confuse me.

[2021-12-13 17:22] YukunQu commented on #147
I think I figure out this problem.

[2021-12-17 16:28] ysl16 commented on #146
I came across exactly the same thing. Not sure if this is the reason, but it seems that the program could not convert the "\" in the path of the Windows system to "/"?

This was my error message:
[code]

[2022-01-07 18:55] keiichiiownsu12 commented on #146
Try appending `-o .\` or `-o ./` to your `dcm2bids_helper` call, e.g.:
`(dcm2bids) C:\Users\Andrew\BIDS_testing\dcm2bids_test>dcm2bids_helper -d sourcedata/dcm_qa_nih-master/In/ -o ./`

[2022-01-07 21:49] andrew-yian-sun commented on #146
Hi @keiichiiownsu12, unfortunately trying both `-o .\` or `-o ./` to your `dcm2bids_helper` call seemed to have resulted in the output folder being invalid:

[code]

[code]

[2022-02-09 16:37] po09i opened #149 "dcm2bids hangs when connected via ethernet without internet"
### Bug Description
When scanning at the UNF, we connect to the scanner via ethernet so that a drive can be mounted from the scanner. When running `dcm2bids`, it hangs and we have to manually cancel the execution. This is the last line shown on the command line.

[code]

Note:
We lose our internet connection when connecting via ethernet to mount the drive.

### Potential Reasons behind Bug:
Since

[2022-02-25 20:21] awiehler opened #151 "Automatic run number is not added to "IntendendFor" field in sidecar"
Hi,
when there are multiple functional runs with the same task name, the run number is added automatically to the filename. This new filename including the run number is not copied to the "IndetendedFor" filed in the field map json. The fieldmap stays linked to the old filename without run number.

[2022-03-03 18:46] jcohenadad opened #152 "Possible collaboration / merging efforts with `niix2bids`"
I just came aware of this similar initiative: https://github.com/benoitberanger/niix2bids

Dialogue has been established: https://github.com/benoitberanger/niix2bids/issues/2

[2022-03-24 14:43] wasciutto opened #153 "Proper Way to Reprocess Images with Updated Conversion File?"
Hi! I have a question about the following (very common) scenario:

Let's say I've run dcm2bids successfully on a DICOM dataset, and all of the images are in BIDS format in the BIDS directory, and no images are left in tmp_dcm2bids. Now, I discover that I need to make some change to the conversion for an image that was already converted - say, add a "TaskName" field to the sidecars of functional im

[2022-03-24 15:03] wasciutto commented on #153
Nevermind - turns out --forceDcm2niix is working as expected, and I misinterpreted the output

[2022-03-24 15:03] #153 closed, assigned to nobody

[2022-03-30 22:11] madisoth commented on #144
A fix for this would be much appreciated, but for now we've been able to work around the issue by making the `echo-` label part of `modalityLabel`, e.g.

`"modalityLabel": "echo-1_bold"`,

which will place the `echo-` field after the `run-` field.

[2022-04-11 20:30] po09i commented on #149
### More info
I forked the repo and investigated a bit more.

The [internet()](https://github.com/UNFmontreal/Dcm2Bids/blob/1ba6f28602b6cad8387c403fe1e26889ac48a3f3/dcm2bids/version.py#L20) function does not work as intended. It always returns `True` whether I am connected to the internet or not.

#### Why does it work for usual scenarios?
When not connected to the internet, since `if internet()`

[2022-04-11 20:59] po09i commented on #149
### To replicate the problem
1. Connect your computer to your router using an ethernet cable
2. Disconnect from the router the cable providing internet to your router
3. Run dcm2bids

[2022-04-14 15:04] #152 closed, assigned to nobody

[2022-04-14 17:18] arnaudbore commented on #147
Hi @YukunQu ,
I know it's been a while but I want to know if you find out your issue.
Thank you in advance.

[2022-04-14 17:35] arnaudbore commented on #143
Hi @richardbeare ,
I don't think dcm2bids will be able, even in the future, to do what you expect.
I would encourage you to rename your acquisition at the console so you can have some key to grab in order to sort them easily.

[2022-04-14 17:35] #143 closed, assigned to nobody

[2022-04-14 17:37] arnaudbore commented on #129
Thank you @dlevitas for your help on this one. Hope everything work as expected @dpagliaccio. I'm closing this issue.

[2022-04-14 17:37] #129 closed, assigned to nobody

[2022-04-14 19:41] #106 closed, assigned to arnaudbore

[2022-04-14 19:41] arnaudbore commented on #151
It has been fixed in the master. A new release will come. Thank you

[2022-04-14 19:41] #151 closed, assigned to nobody

[2022-04-14 19:43] #140 closed, assigned to nobody

[2022-04-14 19:45] arnaudbore commented on #138
@Lestropie , @walkerped  @aketchum15
This has been fixed :tada: . Please check the master. A new release will come.

[2022-04-14 19:45] #138 closed, assigned to nobody

[2022-04-14 19:46] arnaudbore commented on #132
Hi @jewellewej ,
Do you still have this issue ? I'm back to work on dcm2bids and will be happy to help if needed.

[2022-04-15 01:25] SamGuay commented on #149
Hi @po09i !

Thanks for the bug report and the [accompanying PR](https://github.com/UNFmontreal/Dcm2Bids/pull/154). I've investigated the issue on my machine and a virtual machine not connected to ethernet and here's what I got using the latest version with the `--log_level DEBUG`:
[code]
I noticed it was slightly slower than when connected to internet due to the timeout while checking if it can r

[2022-04-15 14:26] YukunQu commented on #147
@arnaudbore Oh, it's indeed been a while. If I remeber rightly, it is a logic mistake of mine. I add the " ["ORIGINAL", "PRIMARY", "P", "ND", "PHASE"]" to e2_ph's criteria aiming to distinguish e2 and e2_ph. But I didn't add the "["ORIGINAL", "PRIMARY", "M", "ND"]" to e2's criteria!!!.  I only add echo time. And the e2 and e2_ph both satisify the requirement.

I was naive enough to think that each

[2022-04-15 14:46] arnaudbore commented on #147
Glad to see you fixed it. I'm going through all issues and PRs in order to fix most of the bugs, add most of the highly demanded features and release a new dcm2bids soon.

[2022-04-15 14:46] #147 closed, assigned to nobody

[2022-04-15 14:47] arnaudbore commented on #144
Should be fixed once #157 is merged.

[2022-04-15 17:58] SamGuay commented on #142
Hi @Remi-Gau,

Thanks for the report, after investigation it appears dcm2niix has been behaving differently since the release of [v1.0.20210317](https://github.com/rordenlab/dcm2niix/releases/tag/v1.0.20210317) which is not the latest but the one before atm.

We'll make sure to update the tutorial accordingly.

[2022-04-16 02:08] arnaudbore commented on #144
@madisoth @Lestropie if you want to give it a try. #157 has been merged. No release yet.

[2022-04-16 02:13] arnaudbore commented on #135
It's been a while.... @Kang1448 did you manage to make dcm2bids work as you expected ?
dcm2bids does not "BIDS" validate the output. It's a tool to reach this goal but it also gives flexibility so the user can do whatever he wants.

[2022-04-18 20:59] po09i commented on #149
Thanks for answering @SamGuay!

Here is my output when I run dcm2bids on the latest version of master **without internet** and not connected via ethernet using `-l DEBUG` :

[code]

As you can see, the error message is within `check_github_latest()` which is called after the `internet()` check which is what leads me to believe the `internet()` function is not behaving as expected...

[2022-04-18 21:07] SamGuay opened #159 "dcm2bids_scaffold needs a refresher"
While updating the tutorial, I noticed that the `dcm2bids_scaffold` function could get a little bit of love.

- [ ] participants.tsv and participants.json should at least match.
- [ ] README could take some inspiration from the [BIDS Starter Kit's](https://github.com/bids-standard/bids-starter-kit/tree/main/templates).

In addition to these two updates, we could potentially add an optional flag fo

[2022-04-18 21:50] po09i commented on #149
I tried to debug the `internet()` function. I tried using `socket.connect_ex()` to see what the output code would be:

[code]

and got an output `code` of 0 which is the [expected behaviour](https://docs.python.org/3.6/library/socket.html#socket.socket.connect_ex) if there is no error.

[code]

[2022-04-19 03:30] SamGuay opened #160 "Can't use --forceDcm2niix option with dcm2bids_helper"
If you run `dcm2bids_helper` once and try to run it again, you get:
[code]

However when you try to `--forceDcm2niix`, it outputs an error:
[code]

The quick n dirty way solution is to `rm -r tmp_dcm2bids/helper` but I think it would be great to either
1. Improve the error message so it does not mislead by proposing a flag that's not valid; or
2. Allow the use of the `--forceDcm2niix` with `dcm2bi

[2022-04-19 17:39] SamGuay commented on #142
Thanks for the heads up, the tutorial was updated in #162.

[2022-04-19 17:39] #142 closed, assigned to SamGuay

[2022-04-19 17:47] SamGuay commented on #141
Hi @bgunasekera!
Sorry for the delay :sweat_smile:. I hope you managed to find an answer to your question.

As mentioned in #142, what happened is the tutorial was last verified with a previous release of dcm2niix but a change in naming the files by dcm2niix was introduced in a newer release.

Once #162 is merged, the updated tutorial will work with the latest dcm2niix version!

Thank you for noti

[2022-04-19 17:47] #141 closed, assigned to nobody

[2022-04-19 19:43] #160 closed, assigned to arnaudbore

[2022-04-19 19:51] SamGuay commented on #120
Much better with #162 - Closing this for now.

[2022-04-19 19:51] #120 closed, assigned to nobody

[2022-04-19 20:08] #144 closed, assigned to nobody

[2022-04-19 21:24] po09i commented on #149
Good news, I found out the problem and why you can't replicate it. I have a VPN installed and even when it is disconnected, it seems to mess up whatever is going on when connecting with a socket. I uninstalled the vpn and I was able to reproduce the expected behaviour.

The VPN I have to use is [Cisco AnyConnect Secure Mobility Client](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=

[2022-04-20 13:15] arnaudbore commented on #136
Since #157 we added a couple of warning for such cases.
We still want to give people the flexibility needed to do what they want.

[2022-04-20 13:15] #136 closed, assigned to nobody

[2022-04-20 20:12] arnaudbore commented on #135
@Kang1448 I'm closing this issue since it was not a :bug: in the program. Feel free to post on [neurostars.org](https://neurostars.org/) with the tag dcm2bids if you need help in the future.

[2022-04-20 20:12] #135 closed, assigned to nobody

[2022-04-20 20:15] arnaudbore commented on #93
Fix in #107

[2022-04-20 20:15] #93 closed, assigned to arnaudbore

[2022-04-20 21:04] arnaudbore commented on #146
@andrew-yian-sun @ysl16 @keiichiiownsu12 we updated the [documentation](https://unfmontreal.github.io/Dcm2Bids/) and we have a PR (#158) that should fix your issue.
Can you give it a try ? Feedbacks will be also appreciated.
Thank you in advance.

[2022-05-27 18:23] #146 closed, assigned to nobody

[2022-05-27 18:24] #132 closed, assigned to nobody

[2022-05-30 18:37] #149 closed, assigned to nobody

[2022-05-30 19:22] #126 closed, assigned to nobody

[2022-05-30 21:15] #92 closed, assigned to nobody

[2022-06-12 22:50] GMerakis opened #170 "scaffold does not support over ride"
right now it's only callable from command line.
This does not play nicely with scaling and calling from scripts.

[2022-06-13 00:38] NickGuAI commented on #170
I needed to run these conversions in large scale and in my scripts.
Found that directly changing source & call from code is easier than docker (where I need to spin up subproccess)

I created a fork to customize for my non-docker needs.
I see no need for it right now, but once done I'll write a doc for non-docker walk-through also
https://github.com/DasDominus/NonDocker_Dcm2Bids

[2022-06-15 17:23] weberam2 commented on #105
Bump
Yes this would be good

[2022-06-15 20:12] jcohenadad commented on #105
For now, let's use this issue for documentation. Here's the Zenodo DOI: https://zenodo.org/record/6596007/export/hx#.Yqo88ezMK3U

In the future, we might want to update/curate this citation @arnaudbore  (eg: it says 'Nick' as one of the author)

[2022-06-17 15:52] arnaudbore commented on #170
@DasDominus, I encourage you to submit a PR if you have ideas to improve dcm2bids.
That will help the dcm2bids community.

[2022-06-17 15:52] #170 closed, assigned to nobody

[2022-06-21 11:47] Arshitha opened #173 "adding varying series descriptions for the same series as a list in config.json"
Hi there! Thanks for creating such a user-friendly tool to transform dicom datasets to BIDS format!

I wanted to put forth a suggestion/feature request about config.json design. Can dcm2bids be modified to use lists instead of dictionary key-value pairs to account for series descriptions that belong to same series? Here's an example of what I'm referring to:

Based on the current config file forma

[2022-06-30 14:05] Arshitha commented on #173
Hi @arnaudbore - Just following up to see if you had any thoughts about this? Thank you!

[2022-06-30 14:14] arnaudbore commented on #173
Hi @Arshitha ,

Thank you for the follow up.
I put this as a new feature I will develop once we reach the new release 3.0.0.

[2022-07-05 15:24] Arshitha commented on #173
Thanks @arnaudbore ! I'll try to do my bit and contribute to developing this feature.

[2022-07-05 21:05] mmo8 opened #174 "'Dicom Images Not Found" Error"
Hello,

I am attempting to run by dcm2bids_helper to create my config file, and I received the error that “Dicom images are not found”. I realized this error occurs because the dcm2bids helper by default only searches 5 paths/files deep within a subject ID. I believe there is a flag that can be used to change the depth so that dcm2bids helper can search deeper than 5 files, but I am unsure what th

[2022-07-23 20:11] weberam2 opened #175 "GE multi-echo fMRI data converted to run-01, run-02 instead of run-01_echo-01, run-01_echo-02, etc."
**Describe the bug**

I have acquired some multi-echo fMRI data on a 3T GE Discovery 750
When I go to convert this to nifit and bids, the echoes are interpreted as separate runs, instead of the same run with separate echoes

**To reproduce**

Steps to reproduce the behavior:
My BIDSconfig file is:

[code]

I then run

`dcm2bids` with the above config file and it seems dcm2niix thinks the echoes ar

[2022-08-08 09:46] Remi-Gau opened #176 "default readme in BIDS dataset after conversion"
hey

We (BIDS maintainers) are trying to see if we can improve the quality of the average README in BIDS dataset. Those tend to be pretty thin and are missing some information we would like to see there even if it can be formalized "yet" into the BIDS specification.

Hoping to leverage the bids converters to help to do.

So I am going around the different BIDS converters repo to see if we can star

[2022-08-08 17:25] fedgiove opened #177 "dots in nifti file names not correctly parsed"
Hello. It looks like that if a nifti has dots in filename the files moved to the "sub-" directory are not correctly renamed.

Eg, a file named abc.12345_67.nii.gz is renamed something like sub-01_ses_01_bold_ab.12345_67.nii.gz.  The "IntendedFor" in the associated fieldmap is correctly set to sub-01_ses_01_bold.nii.gz. This behaviour makes filename not bids compatible.

Dots in the filename are th

[2022-08-19 22:25] alexis-victoria opened #178 "json files missing phase encoding direction, total readout time, slice timing, and echo spacing"
Hello!

I am running dcm2bids with completely anonymized DICOMS that were obtained using a different scanner than I normally use, and the json files being output are missing the phase encoding direction. This differs from the json files that are output after I run dcm2bids with DICOMS obtained from the scanner I typically use. They have the phase encoding direction.

I compared the json files deri

[2022-08-24 20:55] seaguldee opened #179 "there is an attribute error in the underlying python package when running dcm2bids through singularity"
I've checked that I am running dcm2bids correctly through neurostars.org and seperatly with our IT department.  There appears to be an attribute error in the underlying python package?  Is this fixable?  I can't get it to run otherwise.  I am attaching the full output when our IT tried to run dcm2bids.  This seems like a strange issue as I've run dcm2bids previously but it's been a few months.

Ou

[2022-09-07 05:46] azabicki opened #180 "IntendedFor still shows ".gz" when dcm2niix outputs uncompressed files"
Hi there,
thanks for your work and this nice and easy-to-use tool!

I think I found a bug which prevents the dataset from being validated successfully.
When editing the dcm2niix options to save the data as uncompressed *.nii files (`"dcm2niixOptions": "-b y -ba y -z n -f '%3s_%f_%p_%t'"`) and also using the `"intendedFor": 0` option for fieldmaps, the parsed filename of the `IntendedFor`-Key in th

[2022-09-28 23:57] Catyre opened #184 "dcm2bids not updating to 2.1.9 (conda environment)"
Hello all,
I am trying to update my dcm2bids version from 2.1.7 to 2.1.9 as this version fixes a bug I have been experiencing with our experiment.  Unfortunately, I have run into some issues:

- Running `pip install --upgrade dcm2bids` in the conda environment (called fMRI) will indeed update dcm2bids to 2.1.9 (confirmed via `pip list`), however proceeding to run dcm2bids in fMRI will output that

[2022-09-29 01:28] SamGuay commented on #184
Hi Catyre,
I think I have identified the problem but to confirm it is that, can you tell us whether the bug you were experiencing is fix when you run the command after you update it?

It seems that dcm2bids prints 2.1.7 based on [this](https://github.com/UNFmontreal/Dcm2Bids/blob/a129b440235c1e8ce6427bba4858080958072e24/dcm2bids/version.py#L6) even though it's been updated in the environment.

I'v

[2022-09-29 21:43] Catyre commented on #184
Hi Sam,
Thanks for the reply.  It seems that dcm2bids does indeed update despite outputting v2.1.7, as the problem I was having is now gone.  Thanks for the help!

[2022-09-29 21:43] #184 closed, assigned to nobody

[2022-09-30 13:54] SamGuay commented on #184
Amazing! Sorry about that, I'll make sure to fix this typo in future release! :smile:

[2022-10-12 21:06] hellenmir opened #186 "dcm2bids very slow on HPC"
Hello,

I am trying to run the dcm2bids command on an HPC cluster but the command seems to run incredibly slowly (hours and hours) and most of the time does not actually get to completion no matter how much resources I allocate to the job. Looking at the interactive process viewer I can see that the command keeps going into the interruptible sleep mode (S).
I have also tried to run the same comman

[2022-10-25 16:25] ColleenHughes commented on #175
Hi, not sure if you are still having this issue but the way to handle this is to create one entry in your BIDS_config.json for each echo. So customLabels: dir-AP_task-rest_echo-01 and then enter the EchoNumber: 1 in the criteria field so that each file is uniquely identified. In my experience, the first echo sometimes doesn't have the EchoNumber field in the json file but subsequent echoes do. You

[2022-10-25 16:26] weberam2 commented on #175
Oh thanks! I'll try that :)